$white: white;
$black: black;
$main-blue: #1d2951;
$error: #cc0000;
$grey: lightgrey;
$undertext: grey;

$primary_font-family:'Montserrat', sans-serif;
$secondary_font-family: 'Montaga', serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    
    h1,h2,h3,h4,p {
        font-family: $secondary_font-family;
    }

    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 34px;
    }
    
    h3 {
        font-size: 28px;
    }
    
    h4 {
        font-size: 24px;
    }
    
    p {
        font-size: 16px;
    }

    .hr-main {
        max-width: 3.25rem;
        border-width: 0.2rem;
        border-color: $main-blue;
    }
    
    .hr-header {
        max-width: 3.25rem;
        border-width: 0.2rem;
        border-color: $white;
    }
}

