footer {
    background: $main-blue;
    color: $white;
    .footer-content {
        text-align: center;
        margin-top: 15px;
        padding: 35px;
    }

    .icons__footer img {
        &:hover {
            transform: scale(1.05);
            transition: 0.3 all ease;
            cursor: pointer;
        }
    }
}

