.loginPageHero {
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(
      rgba(10, 0, 0, 0.45), 
      rgba(10, 0, 0, 0.45)
    ), url("https://images.pexels.com/photos/2468773/pexels-photo-2468773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;            
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 35vh;
    margin-right: -15px;
    margin-left: -15px;
  }

  .column__login {
      margin-bottom: 250px;
      input {
          text-align: center;
          margin: 0 auto;
      }
  }